@import url('https://fonts.googleapis.com/css?family=Markazi+Text|Pacifico|Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

*{
	margin:0;
	padding: 0;
}
body{
	height: 10000px;
	font-family: 'Arial',sans-serif;
	font-size: 32px;
	text-align: center;
}
*{
	padding: 0;
	margin: 0;
}
body{
	height: 100%;
	font-family: 'Open-sans',sans-serif;
	font-size: 32px;

}
#image-background{
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: url(h11.jpeg);
	background-size:cover; 
	position: fixed;
	z-index: -1;
	


}
#image-background:before{
	content: '';
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #333333;
	opacity: .5;
	position: absolute;
	z-index: 1;
}

/*Icon-bar*/
#header #social .icon-bar{
	float: left;
	margin-top: 10px;

}
#header #social .icon-bar a{
	padding-left: 10px;

}
.icon-bar .facebook{

	color: #fff;
}
.icon-bar .twitter{
	color: #fff;
}
.icon-bar .google{
	color: #fff;;
}
.icon-bar .youtube{
	color: #fff;
}
/*Contact*/
#contact{
	float: right;
	margin-top: 10px;
	margin-right: 15px;

}
#contact .contact{
	color: #fff;
}

/*Navigation*/
#navigation{
	margin-right: 200px;

}
#navigation p{
	
	font-family: 'Pacifico', cursive;
	font-size: 34px;
	color: #fff;
}
/*CONTENT*/
#contact .contact{
	position: relative;
	display: inline-block;

}
#contact .contact .tooltip{
	visibility: hidden;
	width: 100px;
	background-color: #333333;
	color: white;
	text-align: center;
	top: -5px;
    right: 105%; 
    font-size: 18px;
    border-radius: 5px;

	position: absolute;
	z-index: 1;
}
#contact .contact:hover .tooltip{
	visibility: visible;
}

#content #main-content #btn-click{
	margin-bottom: 0;
	margin-top: 12%;
	margin-left: 60%;

	

	
}
#content #main-content #btn-click a{

	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	transition: color .1s linear .05s;



}
#content #main-content #btn-click a span{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 32px;
	position: relative;
	z-index: 3;
}
#content #main-content #btn-click a:before{
	content: '';
	top: 50%;
	left: 0;
	height: 1px;
	width: 100%;
	opacity: 0;/*cái này dùng đẻ ẩn nó đi*/
	background-color: #fff;
	position: absolute;
	transition: top .2s ease,height .2s ease ,opacity 0s linear .2s;
	
	
}
#content #main-content #btn-click a:hover{
	color: black;	
	
	transition: color .1s linear 0s;
}
#content #main-content #btn-click a:hover::before{	
	  top: 0;
	  height: 100%;
      opacity: 1;
      z-index: 2;
      transition: top .2s ease,height .2s ease,opacity 0s linear 0s;
}
/*CLOCK*/
#clock{
	color: #fff;
	
	margin-top: 80px;
	width: 50%;
	float:right;
}
#div-year{

	float: left;
	margin-right: 15px;
	margin-left: 80px;
	
	border: 1px solid;
	padding: 0px 10px;
	
}

#div-month{
	float: right;
	margin-right: 33%;	
	border: 1px solid;
	padding: 0px 10px;
	margin-top: 25px;
}
#div-day{
	float: left;
	margin-left: 36%;
	margin-top: 20px;	
	border: 1px solid;
	padding: 0px 10px;
}
#div-hour{
	float:right;
	
	margin-right: 23%;	
	border: 1px solid;
	padding: 0px 10px;
	margin-top: 30px;
}
#div-minutes{
	float: right;
	
	margin-right: 45%;
	margin-top: 20px;
	
	border: 1px solid;
	padding: 0px 10px;
}
#div-seconds{
	float: left;
	margin-left: 8%;
	margin-top: 45px;
	border: 1px solid;
	padding: 0px 10px;
}
#div-dayhour{
	clear: both;
}
#div-minutesecond{
	clear: both;
}
/*clearfix*/
#clock {
    zoom: 1;
}

#clock:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
/*Title*/
#content #main-content{
	
	margin-top: 80px;
	width: 45%;
	float: left;

}
#content #main-content .title{
	color: #fff;
	font-family: 'Playfair Display', cursive;
	font-size: 70px;
	margin-left:100px;

}







